<!DOCTYPE html>
<html>
<head>
	<title>Hola Mundo con VueJS</title>
</head>
<body>
	<div id="app">
		<h2 v-if="message.length>2">Hola <span v-text="message"></span></h1>
		<h1 v-else>Escribe tu nombre</h1>
		<input type="text" v-model="message">
		<button @click="reverse">Invertir</button>
		<h1>Tareas</h1>
		<ul>
			<li v-for="tarea in tareas">
				<span v-text="tarea.title"></span><br>
				<span v-if="tarea.completed">Completa</span>
				<span v-else>Incompleta</span>
			</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript">
		var app=new Vue({
			el:'#app',
			data:{
				//aqui se encuentran los datos que se estan manejando con VueJS
				message:"",
				tareas:[
					{title:"Tarea 1",completed:true},
					{title:"Tarea 2",completed:false},
					{title:"Tarea 3",completed:true}
				]
			},
			methods:{
				//se definen todos los metodos a usar
				reverse:function () {
					this.message=this.message.split('').reverse().join('');
				}
			}
		});
	</script>
</body>
</html>